# Gin mode (release for production)
GIN_MODE=release

# PostgreSQL connection parameters
# Refer to: https://www.postgresql.org/docs/current/libpq-envars.html
PGHOST=localhost
PGPORT=5432
PGDATABASE=fmsgid
PGUSER=db_writer
PGPASSWORD=
